:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --medium-dark-blue: hsl(212, 16%, 21%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
  transition:
    opacity 0.5s ease-out,
    width 0.5s ease 0.5s,
    height 0.5s ease 0.5s;
}

.card {
  background-color: var(--dark-blue);
  width: 420px;
  height: 420px;
  padding: 1.75em;
  border-radius: 25px;
  opacity: 0.7;
}

/* Rating side styles */

.rating {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating__icon {
  background-color: var(--medium-dark-blue);
  padding: 0.5em;
  border-radius: 50%;
  display: flex;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 1em; */
}

.rating__text h1 {
  margin-bottom: 0.5em;
}

.rating__text p {
  color: var(--light-grey);
}

.rating__numbers {
  display: flex;
  justify-content: space-between;
}

.rating__numbers div {
  width: 55px;
  height: 55px;
  font-weight: 700;
  background-color: var(--medium-dark-blue);
  padding: 0.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-grey);
  cursor: pointer;
  transition: 0.3s;
}

.rating__numbers .hover:hover {
  filter: brightness(3);
}

.rating__numbers .chosen {
  background-color: var(--orange);
  color: var(--white);
}

.rating__button {
  width: 100%;
  border-radius: 50px;
  padding: 1rem;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  cursor: pointer;
  transition: 0.3s;
}

.rating__button:hover {
  background-color: var(--white);
  color: var(--orange);
}

/* Thanks side styles */

.thanks {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.thanks__result {
  background-color: var(--medium-dark-blue);
  width: 60%;
  margin: 0 auto;
  padding: 0.4em;
  border-radius: 20px;
  color: var(--orange);
}

.thanks__text p {
  color: var(--medium-grey);
  padding-top: 1em;
}

