:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --medium-dark-blue: hsl(212, 16%, 21%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 550px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 420px) {
  html {
    font-size: 11px;
  }
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hidden {
  display: none !important;
}

.error {
  animation: anima 350ms backwards ease-in-out;
}

@keyframes anima {
  from {
    transform: translateX(0);
  }
  20% {
    transform: translateX(1%);
  }
  40% {
    transform: translateX(-1%);
  }
  60% {
    transform: translateX(1%);
  }
  80% {
    transform: translateX(-1%);
  }
  to {
    transform: translateX(0);
  }
}

.card {
  background-color: var(--dark-blue);
  width: 420px;
  height: 420px;
  padding: 1.75em;
  border-radius: 25px;
}

@media (max-width: 550px) {
  .card {
    width: 70%;
    height: 350px;
  }
}
@media (max-width: 420px) {
  .card {
    width: 75%;
    height: 320px;
  }
}

/* Rating side styles */

.rating {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating__icon {
  background-color: var(--medium-dark-blue);
  padding: 0.5em;
  border-radius: 50%;
  display: flex;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
}

.rating__text h1 {
  margin-bottom: 0.5em;
}

.rating__text p {
  color: var(--light-grey);
}

.rating__numbers {
  display: flex;
  justify-content: space-between;
}

.rating__numbers div {
  width: 55px;
  height: 55px;
  font-weight: 700;
  background-color: var(--medium-dark-blue);
  padding: 0.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-grey);
  cursor: pointer;
  transition: 0.3s;
}

.rating__numbers .hover:hover {
  filter: brightness(3);
}

.rating__numbers .chosen {
  background-color: var(--orange);
  color: var(--white);
}

.rating__button {
  width: 100%;
  border-radius: 50px;
  padding: 0.9rem;
  font-size: 1em;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
  transition: 0.3s;
}

.rating__button:hover {
  background-color: var(--white);
  color: var(--orange);
}

@media (max-width: 550px) {
  .rating__icon {
    width: 45px;
    height: 45px;
  }

  .rating__numbers div {
    width: 45px;
    height: 45px;
  }

  .rating__button {
    padding: 1.1rem;
  }
}
@media (max-width: 420px) {
  .rating__icon {
    width: 40px;
    height: 40px;
  }

  .rating__numbers div {
    width: 40px;
    height: 40px;
  }
}


/* Thanks side styles */

.thanks {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.thanks__result {
  background-color: var(--medium-dark-blue);
  width: 60%;
  margin: 0 auto;
  padding: 0.4em;
  border-radius: 20px;
  color: var(--orange);
}

.thanks__text p {
  color: var(--medium-grey);
  padding-top: 1em;
}

@media (max-width: 420px) {
  .thanks__img {
    transform: scale(0.8);
  }
  .thanks__result {
    width: 70%;
  }
}