:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --medium-dark-blue: hsl(212, 16%, 21%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  background-color: var(--dark-blue);
  width: 375px;
  padding: 1.75em;
  border-radius: 15px;
  opacity: 0.8;
}

.card__icon {
  background-color: var(--medium-dark-blue);
  padding: 0.5em;
  border-radius: 50%;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.card__text {
  margin-bottom: 1.75em;
}

.card__text h1 {
  margin-bottom: 0.5em;
}

.card__text p {
  color: var(--light-grey);
}

.card__rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.75em;
}

.card__rating div {
  width: 45px;
  height: 45px;
  background-color: var(--medium-dark-blue);
  padding: 0.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-grey);
  cursor: pointer;
  transition: 0.3s;
}

.card__rating .hover:hover {
  filter: brightness(3);
}

.card__rating .chosen {
  background-color: var(--orange);
  color: var(--white);
}

.card__button {
  width: 100%;
  border-radius: 50px;
  padding: 0.8rem;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  cursor: pointer;
  transition: 0.3s;
}

.card__button:hover {
  background-color: var(--white);
  color: var(--orange);
}
